* {
    margin: 0;
    padding: 0;
}

h1 {
    color: brown;
}

.title {
    color: aqua;
}

html {
    background-color: beige;
}

.title, dscc {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 1200px;

}
header {
    background-color: bisque;
    height: 150px;
    margin-top: 150px;
}

.flex {
    display: flex;
}

.menu {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-link {
    display: block;
    text-decoration: none;
    padding: 15px;
    height: 40px;
    background-color: darkgray;
    color: blue;
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid transparent;
    
}

.menu-link:hover {
    color: blueviolet;
    background-color: azure;
    border: 1px solid rgb(224, 21, 21);
}


.content {
    margin-top: 50px;
}

.item {
    width: 363px;
    border: 1px solid rgb(218, 40, 40);
}

.item-pic {
    width: 100%;
}

.txt-box {
    background-color: blanchedalmond;
    padding: 10px;
}

item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}